* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url(background.jpg);
}

.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.heading {
 margin: 100px auto;
 width: 60%;
 height: auto;
 display: flex;
 font-size: 30px;
 font-style: italic;
 align-items: center;
 justify-content: center;
 transition: .5s ease-in;
 color: rgb(245, 86, 86);
 padding: 10px;
 word-spacing: 5px;
}

 img {
 width: 130px;
 margin: 0 25px;
}

.heading:hover {
 transform: scale(1.1);
}

section {
 display: flex;
 width: 60%;
}
input {
 width: 70%;
 padding: 10px;
 border: none;
 outline: none;
 font-size: 15px;
 font-weight: 400;
 background: aliceblue;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}

.btn {
 width: 15%;
 padding: 10px;
 outline: none;
 border: none;
}

.btn-add {
 background: lightgreen;
 color: white;
 font-size: 15px;
 font-weight: 600;
}

.btn-add:hover {
  background: white;
  color: lightgreen;
}

.btn-delete-all {
 background: orangered;
 color: white;
 font-size: 15px;
 font-weight: 600;
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
}

.btn-delete-all:hover {
  background: white;
  color: orangered;
}

.container-2 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 20px 0px;
 width: 57%;
 background: aliceblue;
 border-radius: 5px;
}

.taskArticle {
 display: flex;
 
 width: 95%;
 background: rgb(233, 242, 250);
 margin: 6px;
 padding: 10px;
 list-style: none;
}

.task-item {
 display: flex;
 text-decoration: none;
 font-size: 18px;
}

.complete-btn {
 background: rgb(114, 221, 114);
 font-size: 13px;
 padding: 5px;
 border: none;
 outline: none;
 border-radius: 5px;
}

.delete-btn {
 background: rgb(238, 124, 83);
 font-size: 13px;
 padding: 5px;
 border: none;
 outline: none;
 border-radius: 5px;
}

.line-through {
 text-decoration: line-through;
 opacity: 0.4;
 transition: .3s;
}

.tooltip {
  display: none;
  background-color: white;
  width: 200px;
  color: red; 
  border-radius: 7px;
  margin: 9px;
}

.todoList {
 display: flex;
 justify-content: space-between;
 width: 95%;
 background: rgb(233, 242, 250);
 margin: 6px;
 list-style: none;
}

@media (max-width: 1000px) {
  .heading {
    font-size: 25px;
    flex-direction: column;
  }
  section {
    width: 80%;
  }
  input {
    width: 70%;
  }
  btn {
    width: 20%;
  }
  .container-2 {
    width: 80%;
  }
}


@media (max-width: 800px) {
  .heading {
    font-size: 25px;
    flex-direction: column;
  }
  section {
    width: 95%;
  }
  input {
    width: 70%;
  }
  .btn {
    width: 25%;
  }
  .container-2 {
    width: 95%;
  }
}